{"type":"REST","operations":[{"name":"Get DL Jobs","key":"getDLJobs","inputParameters":[{"displayName":"ID","name":"id","type":"string"}],"outputParameters":[],"config":{"method":"GET","url":"${environment.getProperty(\"HOSTNAME\")}:8080/process-api/management/deadletter-jobs"},"type":"search"}],"config":{"baseUrl":"http://","authorization":{"basic":{"username":"admin","password":{"type":"default","value":"test"}}}},"name":"Flowable ReST API","key":"flowableReSTAPI"}