{"type":"REST","operations":[{"name":"faile","key":"faile","inputParameters":[],"outputParameters":[],"config":{"url":"/gobblystuff"},"type":"search"},{"name":"Get Simple Json","key":"getSimpleJson","inputParameters":[],"outputParameters":[],"config":{"url":"/getsimplejson"},"type":"search"}],"config":{"baseUrl":"https://9d79ff02-47c2-4db2-964a-b4e7b0f19757.mock.pstmn.io"},"name":"Postman Mock API","key":"postmanMockAPI"}