{"type":"REST","operations":[{"name":"Get Case Instance","key":"getCaseInstance","inputParameters":[],"outputParameters":[],"config":{"method":"GET","url":"/query-case-instances?rootScopeDefinitionKey=auth"},"type":"search"},{"name":"Get Tasks","key":"getTasks","inputParameters":[],"outputParameters":[],"config":{"method":"GET","url":"/tasks?rootScopeDefinitionKey=auth"},"type":"search"}],"config":{"baseUrl":"https://sales-demo.flowable.com/platform-api/search","authorization":{"bearer":{"token":{"type":"default","value":"${flwAuthTokenUtils.getAccessToken('keycloak')}"}}}},"name":"Flowable Search API","key":"flowableSearchAPI"}